PORT=3000
CORS_ORIGIN=* 
MONGODB_URL=mongodb://localhost:27017

CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY =
CLOUDINARY_SECRECT=

JWT_ACCESS_TOKEN_SECRET =$#^%*dsuD!1_+23h()
JWT_ACCESS_TOKEN_EXPIRE_IN =1d
JWT_REFRESH_TOKEN_SECRET=!@%#*yewrh@HHIFEWGDKHU1221
JWT_REFRESH_TOKEN_EXPIRE_IN=10d